## Build Results (for .NET and Angular)
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
/dist/
/out-tsc/
/tmp/
/bazel-out
artifacts/
[Ll]og/
[Ll]ogs/

## .NET Core
project.lock.json
project.fragment.lock.json

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## NuGet Packages
*.nupkg
*.snupkg

## Test Artifacts
CodeCoverage/
/coverage
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.binlog
*.VisualState.xml
TestResult.xml
nunit-*.xml
testem.log

## Angular Environment Files (optional)
/src/environments/environment.prod.ts
/src/environments/environment.ts

## Angular Cache
/.angular/cache/
.angular/

## Node and Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/libpeerconnection.log

## Temporary & Misc Files
~$*
*~
.sass-cache/
/typings
/connect.lock

## System Files
.DS_Store
Thumbs.db

## IDEs and Editors
.idea/
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
.history/*

## Visual Studio
.vs/

## Gitignore reference:
# https://github.com/github/gitignore/blob/main/Dotnet.gitignore
# https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
