<div class="card">
    <h1>Bem-vindo(a) à Aplicação Angular CDB</h1>
    <div class="internalCard">
        <h2>Solicitar o Calculo do Investimento CDB</h2>
        <form [formGroup]="solicitacaoForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Investimento</mat-label>

                <input matInput formControlName="investimento"
                    mask="separator.2"
                    thousandSeparator="."
                    decimalMarker=","
                    prefix="R$ "
                    placeholder="Ex: R$ 0,00" />
                <mat-error *ngIf="solicitacaoForm.get('investimento')?.hasError('required')">
                    Campo monetário obrigatório.
                </mat-error>
                <mat-error *ngIf="solicitacaoForm.get('investimento')?.hasError('min')">
                    O valor deve ser maior que R$ 0,01.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Meses</mat-label>

                <input matInput type="number" formControlName="meses" (keydown)="blockDecimal($event)"
                    placeholder="Ex: 24" />
                <mat-error *ngIf="solicitacaoForm.get('meses')?.hasError('required')">
                    Campo numérico obrigatório.
                </mat-error>
                <mat-error *ngIf="solicitacaoForm.get('meses')?.hasError('pattern')">
                    Apenas números inteiros.
                </mat-error>
                <mat-error *ngIf="solicitacaoForm.get('meses')?.hasError('min')">
                    O valor deve ser maior que 0.
                </mat-error>
            </mat-form-field>

            <button class="buttonSpace" mat-raised-button color="primary" type="submit">Solicitar</button>

            <button mat-raised-button color="primary" (click)="clearFields()">Limpar</button>
        </form>
    </div>
    <div class="internalCard">
        <h2>Resultado do Investimento CDB</h2>
        <p><strong>Retorno Bruto</strong> {{ this.retorno.resultadoBruto | currency }}</p>
        <p><strong>Retorno Líquido</strong> {{ this.retorno.resultadoLiquido | currency }}</p>
    </div>
    <p>
        <a class="link" target="_blank" href="https://github.com/rodrigocdellu/stockexchange.front-end">Para
            <strong>Maiores Informações</strong> veja meu GitHub</a>
    </p>
</div>